@reference "tailwindcss";

@layer components.defaults {
  .root {
    @apply relative;
    min-height: 0;
  }

  .vertical {
    --scrollbar-width: 12px;
  }

  .horizontal {
    --scrollbar-height: 12px;
  }

  .content {
    @apply h-full w-full;
    overflow: auto;
  }

  .vertical .content {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .vertical[data-inline="true"] .content {
    padding-right: 16px;
  }

  .horizontal .content {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .horizontal[data-inline="true"] .content {
    padding-bottom: 16px;
  }

  .vertical .content::-webkit-scrollbar,
  .horizontal .content::-webkit-scrollbar { display: none; }

  .track {
    @apply absolute;
    z-index: 10;
    background-color: var(--background);
  }

  .track[data-hide="true"] {
    transition-property: opacity;
    transition-duration: var(--hover-duration, var(--hover-leave-duration, 300ms));
    transition-timing-function: var(--hover-transition-timing-function, var(--ease-snappy-pop, ease-out));
  }

  .vertical .track {
    right: 4px;
    top: var(--scroll-padding-y, 0);
    width: 12px;
    height: calc(100% - 2 * var(--scroll-padding-y, 0));
    box-sizing: border-box;
  }

  .horizontal .track {
    bottom: 2px;
    left: 0;
    height: 12px;
    width: 100%;
  }

  .thumb {
    position: absolute;
    border-radius: calc(var(--radius-xs, 0.25rem) * 0.80);
    background-color: var(--background);
    transition-property: background-color, width, height;
    transition-duration: var(--hover-duration, var(--hover-leave-duration, 300ms));
    transition-timing-function: var(--hover-transition-timing-function, var(--ease-snappy-pop, ease-out));
  }

  .thumb:hover {
    --hover-duration: var(--hover-enter-duration, 0ms);
  }

  .vertical .thumb {
    width: 6px;
    margin-left: 6px;
    transition-property: background-color, width, margin-left;
    transition-duration: var(--hover-duration, var(--hover-leave-duration, 300ms));
    transition-timing-function: var(--hover-transition-timing-function, var(--ease-snappy-pop, ease-out));
  }

  .vertical .thumb:hover,
  .vertical[data-pressed] .thumb {
    --hover-duration: var(--hover-enter-duration, 0ms);
    width: 8px;
    margin-left: 4px;
  }

  .horizontal .thumb {
    height: 6px;
    margin-top: 6px;
    transition-property: background-color, height, margin-top;
    transition-duration: var(--hover-duration, var(--hover-leave-duration, 300ms));
    transition-timing-function: var(--hover-transition-timing-function, var(--ease-snappy-pop, ease-out));
  }

  .horizontal .thumb:hover,
  .horizontal[data-pressed] .thumb {
    --hover-duration: var(--hover-enter-duration, 0ms);
    height: 8px;
    margin-top: 4px;
  }
}
