@reference "tailwindcss";

@layer components {
  .slider {
    --disabled-opacity: 0.6;
    --slider-track-size: 0.375rem;
    --slider-thumb-size: 1rem;

    @apply relative flex w-full items-center;
    min-inline-size: 12rem;
    min-height: 2rem;
    touch-action: none;
    user-select: none;
  }

  .track {
    @apply relative flex grow items-center;
    flex-grow: 1;
    height: var(--slider-track-size);
    overflow: visible;
    border-radius: var(--radius-xs, 0.25rem);
    background-color: var(--background);
  }

  .range {
    @apply absolute;
    border-radius: var(--radius-xs, 0.25rem);
    background-color: var(--background);
    transition: background-color 200ms var(--ease-snappy-pop);
  }

  .thumb {
    @apply absolute block;
    top: 50%;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    transform: translate(-50%, -50%);
    border-radius: var(--radius-full, 9999px);
    outline: none;
    background-color: var(--background);
    transition:
      background-color 200ms var(--ease-snappy-pop),
      transform 200ms var(--ease-snappy-pop);
  }

  .slider[data-orientation="horizontal"] .range {
    top: 0;
    height: 100%;
  }

  .slider[data-orientation="vertical"] {
    justify-content: center;
    min-height: 10rem;
    min-inline-size: auto;
    width: fit-content;
  }

  .slider[data-orientation="vertical"] .track {
    width: var(--slider-track-size);
    height: 100%;
  }

  .slider[data-orientation="vertical"] .range {
    left: 0;
    width: 100%;
  }

  .slider[data-orientation="vertical"] .thumb {
    left: 50%;
    top: auto;
    transform: translate(-50%, 50%);
  }

  .slider[data-disabled="true"] {
    opacity: var(--disabled-opacity);
    cursor: not-allowed;
  }

  .slider[data-disabled="true"] .range {
    background-color: var(--background-disabled, var(--background));
  }

  .thumb[data-disabled="true"] {
    cursor: not-allowed;
    background-color: var(--background-disabled, var(--background));
  }

  .thumb[data-pressed="true"] {
    transform: translate(-50%, -50%) scale(1.08);
  }

  .slider[data-orientation="vertical"] .thumb[data-pressed="true"] {
    transform: translate(-50%, 50%) scale(1.08);
  }
}
