@reference "tailwindcss";

@layer components.defaults {
  .switch {
    --radius: 9999px;
    --inner-radius: calc(var(--radius) - var(--border-width-base, 1px));

    --width: 2.75rem;
    --height: 1.5rem;
    --thumb-size: 1rem;
    --thumb-offset: 0.25rem;

    --disabled-opacity: 0.6;

    @apply relative inline-flex cursor-pointer items-center;
    user-select: none;
    border-radius: var(--radius);
    width: var(--width);
    height: var(--height);
  }

  .switch-track {
    @apply absolute inset-0;
    transition:
      background-color var(--transition-duration) var(--transition-easing),
      border-color var(--transition-duration) var(--transition-easing),
      transform var(--transition-duration) var(--transition-easing);
    background-color: var(--background);
    border: var(--border-width-base, 1px) solid var(--background-border);
    border-radius: var(--radius);
  }

  .switch:active:not([data-disabled]) .switch-track {
    transform: scale(0.98);
  }

  .input {
    @apply absolute inset-0 h-full w-full cursor-pointer opacity-0;
  }

  .switch-thumb {
    @apply absolute top-0 bottom-0 my-auto;
    left: var(--thumb-offset);
    width: var(--thumb-size);
    height: var(--thumb-size);
    transition: left var(--transition-duration) var(--transition-easing), background-color var(--transition-duration) var(--transition-easing);
    background-color: var(--foreground);
    border-radius: var(--inner-radius);
    z-index: 1;
    pointer-events: none;
  }

  .switch[data-selected] .switch-thumb {
    left: calc(var(--width) - var(--thumb-size) - var(--thumb-offset));
  }

.switch[data-disabled] {
    opacity: var(--disabled-opacity);
    cursor: not-allowed;
  }


  .switch-sm {
    --width: 1.75rem;
    --height: 1rem;
    --thumb-size: 0.625rem;
    --thumb-offset: 0.1875rem;
  }
}
