@reference "tailwindcss";

@layer components {
  .switch {
    --radius: 9999px;
    --inner-radius: calc(var(--radius) - var(--border-width-base));

    --width: 2.75rem;
    --height: 1.5rem;
    --thumb-size: 1rem;
    --thumb-offset: 0.25rem;

    --disabled-opacity: 0.6;

    @apply relative inline-flex cursor-pointer items-center;
    user-select: none;
    border-radius: var(--radius);
    width: var(--width);
    height: var(--height);
  }

  .switch-track {
    @apply absolute inset-0;
    transition: background-color 180ms var(--ease-snappy-pop), border-color 180ms var(--ease-snappy-pop), transform 180ms var(--ease-snappy-pop);
    background-color: var(--background);
    border: var(--border-width-base) solid var(--border-color);
    border-radius: var(--radius);
  }

  .switch:active:not([data-disabled]) .switch-track {
    transform: scale(0.98);
  }

  .switch-thumb {
    @apply absolute top-0 bottom-0 my-auto;
    left: var(--thumb-offset);
    width: var(--thumb-size);
    height: var(--thumb-size);
    transition: left 180ms var(--ease-snappy-pop), background-color 180ms var(--ease-snappy-pop);
    background-color: var(--foreground);
    border-radius: var(--inner-radius);
    z-index: 1;
    pointer-events: none;
  }

  .switch[data-selected] .switch-track {
    background-color: var(--background-active);
    border-color: var(--border-color-active);
  }

  .switch[data-selected] .switch-thumb {
    background-color: var(--foreground-active);
    left: calc(var(--width) - var(--thumb-size) - var(--thumb-offset));
  }

  @media (hover: hover) {
    .switch[data-selected]:not([data-disabled]):hover .switch-track {
      border-color: var(--border-color-hover);
    }
  }

  .switch[data-selected]:not([data-disabled]):active .switch-track {
    border-color: var(--border-color-pressed);
  }

  .switch[data-disabled] {
    opacity: var(--disabled-opacity);
    cursor: not-allowed;
  }


  .switch-sm {
    --width: 1.75rem;
    --height: 1rem;
    --thumb-size: 0.625rem;
    --thumb-offset: 0.1875rem;
  }
}
