@reference "tailwindcss";

@layer components.defaults {
  .button {
    @apply inline-flex items-center justify-center gap-2 select-none cursor-pointer whitespace-nowrap;
    background-color: var(--background);
    color: var(--foreground);
    border: 0 solid transparent;
    border-radius: var(--radius-sm, 0.375rem);
    font-size: var(--text-sm, 0.8125rem);
    font-weight: var(--font-weight-body-medium, 500);
    letter-spacing: normal;
    line-height: var(--leading-sm, 1.25rem);
    transition-property: background-color, border-color, box-shadow, color, opacity;
    transition-duration: var(--hover-duration, var(--hover-leave-duration, 150ms));
    transition-timing-function: var(--hover-transition-timing-function);

    &[data-hovered="true"]:not([data-disabled="true"]) {
      --hover-duration: var(--hover-enter-duration, 0ms);
      background-color: var(--background);
      border-color: var(--background-border);
      color: var(--foreground);
    }

    &[data-pressed="true"]:not([data-disabled="true"]) {
      background-color: var(--background);
      border-color: var(--background-border);
      color: var(--foreground);
    }

    &:focus-visible {
      outline: none;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      filter: grayscale(0.5);
    }

    & > span > svg,
    & > svg {
      color: var(--icon-foreground, currentColor);
    }
  }

  .hint {
    @apply shrink-0 gap-1;
  }
}
