@reference "tailwindcss";

@layer components {
  .preview, .anchor {
    display: inline
  }

  .root {
    @apply inline-block relative cursor-pointer;
    display: inline-block;
    color: var(--foreground, currentColor);
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .underline {
      background: var(--underline-background-hover, var(--foreground-400));
    }

    &[data-focus-visible="true"] {
      outline: 2px solid var(--focus-visible, var(--focus-ring));
      outline-offset: 2px;
      border-radius: 2px;
    }
  }

  .underline {
    @apply absolute left-0 right-0 bottom-0 h-px;
    background: var(--underline-background, var(--background-600));
    transform-origin: right;
    transform: scaleX(1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }

  .preview {
  }
}
