@reference "tailwindcss";

@layer components {
  .input {
    --disabled-opacity: 0.5;

    @apply block w-full px-3 py-2;
    font-family: inherit;
    font-size: var(--text-xs);
    line-height: var(--leading-snug);
    color: var(--foreground);
    background-color: var(--background);
    border: var(--border-width-base) solid var(--border);
    border-radius: var(--radius-sm);
    outline: none;
    box-sizing: border-box;
    transition: transform 150ms var(--ease-snappy-pop), border-color 150ms var(--ease-snappy-pop), box-shadow 150ms var(--ease-snappy-pop), background-color 150ms var(--ease-snappy-pop);

    &::placeholder {
      color: var(--placeholder);
    }

    &[data-active] {
      border-color: var(--ring-color);
      box-shadow: 0 0 0 1px mix(var(--ring-color) 20%, transparent);
    }

    &[data-focus-visible] {
      @apply ring-0;
      border-color: var(--ring-color);
      /* box-shadow: 0 0 0 3px mix(var(--ring-color) 20%, transparent); */
    }

    &[data-disabled] {
      background-color: var(--disabled-background);
      color: var(--disabled-foreground);
      cursor: not-allowed;
      opacity: 0.6;
    }

    &[data-error] {
      &[data-active] {
        border-color: var(--ring-color);
        box-shadow: 0 0 0 1px mix(var(--ring-color) 20%, transparent);
      }

      &[data-focus-visible] {
        border-color: var(--ring-color);
        box-shadow: 0 0 0 1px mix(var(--ring-color) 20%, transparent);
      }
    }

    /* Hide default browser spinners for number inputs */
    &[type="number"] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        display: none;
      }

      /* Firefox */
      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }

  .icon-wrapper {
    @apply absolute top-1/2 z-10 flex -translate-y-1/2 items-center;
    color: var(--icon-color);
    pointer-events: none;
  }

  .prefix-icon { left: 0.60rem; }

  .suffix-icon { right: 1.00rem; }

  .container {
    @apply relative w-full;
  }

  .number-controls {
    @apply absolute inset-y-0 right-0 z-10 flex w-6 flex-col;
    pointer-events: auto;
  }

  .number-controls.disabled {
    opacity: var(--disabled-opacity);
    cursor: not-allowed;
  }

  .spin-button {
    @apply flex w-full flex-1 items-center justify-center p-0 cursor-pointer;
    flex: 1;
    background-color: transparent;
    border: none;
    color: var(--spin-color);
    transition: color 150ms ease-out, background-color 150ms ease-out;

    &:hover:not(:disabled) {
      background-color: var(--spin-hover-background);
      color: var(--spin-hover-color);
    }

    &:active:not(:disabled) {
      background-color: var(--spin-active-background);
      color: var(--spin-active-color);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: var(--disabled-opacity);
    }
  }
}
