@reference "tailwindcss";

:root {
  --spacing: 0.25rem;
  --spacing-xs: calc(var(--spacing) * 1);
  --spacing-sm: calc(var(--spacing) * 2);
  --spacing-md: calc(var(--spacing) * 4);
  --spacing-lg: calc(var(--spacing) * 6);
  --spacing-xl: calc(var(--spacing) * 8);

  --hover-enter-duration: 0ms;
  --hover-leave-duration: 300ms;
  --hover-duration: var(--hover-leave-duration);
  --hover-transition-timing-function: var(--ease-snappy-pop, ease-out);

  --ring-background: #0f74c5
}

@layer components {
  [data-ring="true"] {
    --ring: var(--ring-background);
    --ring-width: 2px;
    --ring-border: var(--ring);
    --ring-border-visible: var(--ring-border);
    --ring-shadow: 0 0 0 var(--ring-width) var(--ring);
    --ring-z: 10;
  }

  .button {
    @apply text-xs font-semibold;
    --background: var(--background-800);
    --background-border: var(--background-700);
    --focus-visible: var(--accent-400);
    --foreground: var(--foreground-300);
    --icon-foreground: var(--foreground-400);
  }

  .button:is([data-hovered="true"], [data-selected="true"]):not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-600) 50%, var(--background-950));
    --background-border: var(--background-600);
  }

  .button[data-pressed="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-600) 60%, var(--background-950));
    --background-border: var(--background-600);
  }

  .button.sm { @apply px-2.5 py-1.5; }
  .button.md { @apply px-3 py-1.5; }
  .button.lg { @apply px-4 py-2; }

  .button.icon {
    @apply aspect-square p-1.5;
  }

  .button[data-hint="true"] {
    @apply pr-1;
  }

  .gallery > .item {
    --background: var(--background-950);
    --background-border: var(--background-700);
    --focus-visible: var(--accent-400);
  }

  .gallery > .item[data-hovered="true"]:not([data-disabled="true"]) {
    --background-border: var(--background-600);
  }

  .gallery > .item[data-pressed="true"]:not([data-disabled="true"]) {
    --background-border: var(--accent-500);
  }

  .gallery > .item > .view {
    --background: var(--background-950);
  }

  .gallery > .item > .body {
    --foreground: var(--foreground-50);
    --foreground-muted: var(--foreground-300);
  }

  .expand > .trigger {
    --background: transparent;
    --foreground: var(--foreground-50);
  }

  .expand > .trigger:hover:not([data-disabled="true"]),
  .expand > .trigger[data-hovered="true"]:not([data-disabled="true"]) {
    --background: var(--background-900);
  }

  .expand > .content {
    --background: transparent;
    --closed-animation: slide-out-to-top 0.15s var(--ease-snappy-pop);
    --foreground: var(--foreground-300);
    --open-animation: slide-in-from-top 0.15s var(--ease-snappy-pop);
  }

  .card {
    --background: var(--background-900);
    --background-border: var(--background-700);
    --focus-visible: var(--accent-400);
    --foreground: var(--foreground-200);
  }

  .card > .footer {
    --background: color-mix(in srgb, var(--background-900) 50%, transparent);
  }

  .list {
    --foreground: var(--foreground-50);
  }

  .list > .header > .title {
    --foreground: var(--foreground-50);
  }

  .list > .header > .subtitle,
  .list > .description {
    --foreground: var(--foreground-400);
  }
  .list > [role="option"] {
    --background: transparent;
    --foreground: var(--foreground-50);
  }
  .list > [role="option"]:hover:not([data-disabled="true"]),
  .list > [role="option"][data-highlighted="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-500) 6%, transparent);
  }

  .list > [role="option"][data-selected="true"] {
    --background: color-mix(in srgb, var(--background-500) 10%, transparent);
  }

  .list > [role="option"][data-selected="true"]:hover:not([data-disabled="true"]),
  .list > [role="option"][data-selected="true"][data-highlighted="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-500) 14%, transparent);
  }

  .list > [role="option"] > .actions > .button {
    --background: transparent;
    --foreground: var(--foreground-400);
  }

  .list > [role="option"] > .actions > .button:hover:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-500) 6%, transparent);
    --foreground: var(--foreground-50);
  }

  .group {
    --background: var(--background-950);
    --background-border: var(--background-700);
  }

  .group > .input,
  .group > .item > .input {
    --background: var(--background-950);
    --background-border: var(--background-600);
  }

  .group > .divider {
    --background: var(--background-border);
  }

  .group.outline > .input,
  .group.outline > .item > .input {
    --background: transparent;
  }

  .group > .button[data-selected="true"],
  .group > .item > .button[data-selected="true"] {
    --foreground: var(--foreground-100);
  }

  .group > .select > .value,
  .group > .item > .select > .value {
    padding-inline: calc(var(--spacing) * 1.5);
  }

  .group > .select > .value:has(> .button[data-hovered="true"]:not([data-disabled="true"])),
  .group > .item > .select > .value:has(> .button[data-hovered="true"]:not([data-disabled="true"])) {
    --background: color-mix(in srgb, var(--background-800) 50%, transparent);
  }

  .group > .select > .value > .button,
  .group > .item > .select > .value > .button {
    height: 100%;
    padding-inline: calc(var(--spacing) * 3) !important;
    border-radius: var(--background-inner-radius) 0 0
      var(--background-inner-radius);
  }

  .command {
    --background: var(--background-900);
    --background-list: var(--background-950);
    --background-footer: var(--background-800);
    --border: var(--background-700);
    --foreground: var(--foreground-300);
    --foreground-muted: var(--foreground-400);
    --overlay: rgb(0 0 0 / 20%);
    --overlay-backdrop: blur(4px);
    --shadow: 0 20px 25px -5px rgb(0 0 0 / 35%);
  }

  .command [role="option"] {
    --background: transparent;
    --foreground: var(--foreground-300);
  }

  .command [role="option"]:hover:not([data-disabled="true"]),
  .command [role="option"][data-highlighted="true"]:not([data-disabled="true"]) {
    --background: var(--background-800);
  }

  .date {
    --background: var(--background-950);
    --border: var(--background-700);
    --focus-ring: var(--accent-400);
  }
  .date > .row,
  .date > .grid {
    --background: var(--background-900);
  }
  .date > .row > .title {
    --foreground: var(--foreground-300);
  }
  .date > .row > .label {
    --foreground: var(--foreground-400);
  }
  .date > .row > .button {
    --background: transparent;
    --foreground: var(--foreground-400);
  }
  .date > .row > .button:hover:not([data-disabled="true"]) {
    --background: var(--background-800);
  }

  .date > .day {
    --background: transparent;
    --foreground: var(--foreground-300);
  }

  .date > .day[data-selected="true"],
  .date > .day[data-today="true"] {
    --background: var(--background-800);
    --foreground: var(--foreground-50);
  }

  .date > .day[data-disabled="true"],
  .date > .day[data-out-of-range="true"] {
    --foreground: var(--foreground-400);
  }

  .date > .day:hover:not([data-disabled="true"]):not([data-out-of-range="true"]),
  .date > .day[data-hovered="true"]:not([data-disabled="true"]):not([data-out-of-range="true"]) {
    --background: var(--background-800);
  }

  .table {
    --background: var(--background-950);
    --border: var(--background-700);
    --focus-ring: var(--accent-400);
    --foreground: var(--foreground-300);
  }
  .table > .header,
  .table > .filter {
    --background: var(--background-900);
  }
  .table > .header {
    --foreground: var(--foreground-400);
  }
  .table .row {
    --background: transparent;
    --foreground: var(--foreground-300);
  }

  .table .row:hover:not([data-disabled="true"]),
  .table .row[data-selected="true"]:not([data-disabled="true"]) {
    --background: var(--background-800);
  }

  .table > .filter > .label,
  .table > .empty {
    --foreground: var(--foreground-400);
  }

  .checkbox {
    --background: var(--background-900);
    --background-border: var(--background-700);
    --helper-error-foreground: var(--danger-600);
    --helper-foreground: var(--foreground-400);
    --ring: var(--accent-500);
  }

  .checkbox:hover:not([data-disabled="true"]),
  .checkbox[data-hovered="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-500) 10%, var(--background-900));
    --background-border: var(--background-600);
  }

  .checkbox:is([data-selected="true"], [data-indeterminate="true"]) {
    --background: var(--background-900);
    --background-border: var(--background-700);

    &:is(:hover, [data-hovered="true"]):not([data-disabled="true"]) {
      --background: var(--background-800);
      --background-border: var(--background-600);
    }
  }

  .checkbox > :is(.checkmark, .indeterminate) {
    --foreground: var(--foreground-400);
  }

  .color {
    --background: color-mix(in srgb, var(--background-800) 30%, transparent);
    --background-border: var(--background-700);
    --focus-visible: var(--accent-400);
  }
  .color > .canvas > .pointer {
    --pointer-border: color-mix(in srgb, var(--foreground-200) 50%, transparent);
  }
  .color > .controls > .hue > .track > .thumb,
  .color > .controls > .opacity > .track > .thumb {
    --background: white;
    --border: white;
  }
  .color > .controls > .opacity > .track {
    --checkerboard-dark: var(--background-800);
    --checkerboard-light: var(--background-700);
  }
  .color > .controls > .group > .swatch,
  .color > .controls > .group > .preview {
    --checkerboard-dark: var(--background-700);
    --checkerboard-light: var(--background-800);
  }

  .label {
    --disabled-foreground: var(--foreground-400);
    --error-foreground: var(--danger-600);
    --foreground: var(--foreground-300);
  }

  .label > .text > .required {
    --required-color: var(--danger-600);
  }

  .label > .helper {
    --helper-color: var(--foreground-400);
  }

  .label > .helper[data-error] {
    --helper-error-color: var(--danger-600);
  }

  .input {
    --background: var(--background-950);
    --background-border: var(--background-700);
    --disabled-background: var(--background-900);
    --disabled-foreground: var(--foreground-400);
    --foreground: var(--foreground-300);
    --placeholder: color-mix(in srgb, var(--foreground-400) 80%, transparent);
    --ring: var(--accent-500);
    --ring-border: var(--ring);
    --ring-border-visible: var(--ring-border);
    font-size: var(--text-xs);
    font-weight: var(--font-weight-medium);
  }

  .input[data-error] {
    --ring: var(--danger-600);
  }

  .input[data-variant="ghost"] {
    --background: transparent;
    --background-border: transparent;
  }

  .input[data-variant="ghost"][data-focus-visible] {
    box-shadow: none;
  }

  .input > .icon {
    --foreground: var(--foreground-300);
  }

  .input > .stepper {
    --active-background: var(--background-700);
    --active-color: var(--foreground-100);
    --foreground: var(--foreground-400);
    --hover-background: var(--background-800);
    --hover-color: var(--foreground-200);
  }

  .radio {
    --background: var(--background-900);
    --background-border: var(--background-700);
    --focus-visible: var(--accent-400);
  }
  .radio.outline {
    --background: transparent;
  }

  .radio:hover:not([data-disabled="true"]),
  .radio[data-hovered="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-500) 10%, var(--background-900));
    --background-border: var(--background-600);
  }

  .radio[data-selected="true"] {
    --background: var(--background-900);
    --background-border: var(--background-700);
  }

  .radio.outline[data-selected="true"] {
    --background: var(--background-600);
    --background-border: var(--background-600);
  }

  .radio[data-selected="true"]:hover:not([data-disabled="true"]),
  .radio[data-selected="true"][data-hovered="true"]:not([data-disabled="true"]) {
    --background: var(--background-800);
    --background-border: var(--background-600);
  }

  .radio[data-error="true"]:not([data-selected="true"]) {
    --background-border: var(--danger-600);
  }
  .radio > .dot {
    --background: var(--foreground-300);
  }
  .radio[data-selected="true"] > .dot {
    --background: var(--foreground-400);
  }
  .radio.outline[data-selected="true"] > .dot {
    --background: var(--accent-500);
  }
  .radio > .label {
    --foreground: var(--foreground-300);
  }
  .radio > .label[data-disabled="true"] {
    --foreground: var(--foreground-400);
  }
  .radio > .description,
  .radio > .helper {
    --foreground: var(--foreground-400);
  }
  .radio > .description[data-error="true"],
  .radio > .helper[data-error="true"] {
    --foreground: var(--danger-600);
  }

  .select {
    --background: color-mix(in srgb, var(--background-800) 30%, transparent);
    --background-border: var(--background-700);
    --focus-visible: var(--accent-400);
    --focus-visible-background: var(--background-950);
    --foreground: var(--foreground-300);
    --foreground-size: var(--text-xs);
    --trigger-background-hover: color-mix(in srgb, var(--background-800) 50%, transparent);
  }

  .select[data-pressed="true"]:not([data-disabled]) {
    --background: color-mix(in srgb, var(--background-600) 50%, transparent);
  }

  .select[data-open="true"] {
    --background: color-mix(in srgb, var(--background-800) 50%, transparent);
  }

  .select.ghost {
    --background: transparent;
    --background-border: transparent;
    --trigger-background-hover: color-mix(in srgb, var(--background-700) 50%, transparent);
  }

  .select.ghost[data-pressed="true"]:not([data-disabled]),
  .select.ghost[data-open="true"] {
    --background: color-mix(in srgb, var(--background-700) 50%, transparent);
  }

  .select > :is(.content, .sub-content) {
    --background: var(--background-700);
    --background-border: var(--background-600);
  }

  .select > :is(.content, .sub-content) [role="option"]:is(.item, .trigger) {
    --background: transparent;
    --foreground: var(--foreground-300);
    --foreground-muted: var(--foreground-400);
    --icon-foreground: var(--foreground-300);
    --indicator-foreground: var(--accent-300);

    &:is([data-highlighted="true"], [data-open="true"]) {
      --background: color-mix(in srgb, var(--background-500) 15%, transparent);
    }
  }

  .select > .placeholder {
    --foreground-muted: var(--foreground-400);
  }

  .slider > .track {
    --background: var(--background-900);
  }

  .slider > .track > .thumb {
    --background: var(--foreground-400);
    --background-border: color-mix(in srgb, var(--background-500) 40%, transparent);
    --disabled-background: var(--background-500);
    --focus-visible: color-mix(in srgb, var(--background-500) 40%, transparent);
    --radius: calc(var(--spacing) * 0.6);
  }

  .slider > .track > .range {
    --background: color-mix(in srgb, var(--background-500) 20%, transparent);
    --disabled-background: var(--background-600);
  }

  .switch {
    --background: var(--background-700);
    --background-border: var(--background-600);
    --focus-visible: var(--accent-400);
    --foreground: var(--background-500);
    --transition-duration: 120ms;
    --transition-easing: linear;
  }

  .switch[data-selected="true"] {
    --background: color-mix(in srgb, var(--background-500) 90%, transparent);
    --background-border: color-mix(in srgb, var(--background-500) 20%, transparent);
    --foreground: color-mix(in srgb, var(--foreground-400) 20%, white);
  }

  .switch[data-selected="true"]:active:not([data-disabled="true"]),
  .switch[data-selected="true"][data-hovered="true"]:not([data-disabled="true"]) {
    --background-border: color-mix(in srgb, var(--background-500) 30%, transparent);
  }

  .switch[data-selected="true"]:active:not([data-disabled="true"]) {
    --background: var(--background-600);
  }

  .textarea {
    --background: var(--background-950);
    --background-border: var(--background-700);
    --disabled-opacity: 0.6;
    --foreground: var(--foreground-300);
    --placeholder: color-mix(in srgb, var(--foreground-400) 80%, transparent);
  }

  .textarea[data-disabled="true"] {
    --background: var(--background-900);
    --foreground: var(--foreground-400);
  }

  .textarea[data-error="true"] {
    --background-border: var(--danger-600);
  }

  .textarea > .scope > .surface > .scroll {
    --background: var(--background-950);
    --background-border: var(--background-700);
    --disabled-opacity: 0.6;
  }

  .textarea > .scope > .surface > .handle {
    --background: color-mix(in srgb, var(--foreground-400) 72%, transparent);
  }

  .textarea > .scope > .surface > .handle:hover {
    --background: color-mix(in srgb, var(--foreground-200) 90%, transparent);
  }

  .textarea > .scope > .count {
    --foreground: var(--foreground-400);
    --foreground-error: var(--danger-600);
  }

  .banner {
    --background: var(--background-900);
    --border: var(--info-600);
    --foreground: var(--info-50);
  }

  .badge {
    --background: var(--background-800);
    --background-border: var(--background-600);
    --foreground: var(--foreground-200);
    font-size: var(--text-xs);
    font-weight: var(--font-weight-semibold);
  }

  .badge.sm {
    @apply px-1.5 py-0.5 font-semibold;
  }

  .badge.md {
    @apply px-2 py-1.5;
  }

  .badge.lg {
    @apply px-3 py-1.5;
  }

  .badge > .dismiss {
    --focus-visible: var(--accent-400);
    --foreground: var(--foreground-400);
  }

  .badge > .dismiss[data-hovered="true"] {
    --background: color-mix(in srgb, var(--background-700) 80%, var(--background-900));
  }

  .badge > .dismiss[data-pressed="true"] {
    --background: var(--background-700);
  }

  .popover > .content,
  .tooltip > .content {
    --background: var(--background-900);
    --background-border: var(--background-700);
    --foreground: var(--foreground-200);
  }

  .tooltip > .content {
    font-size: var(--text-xs);
    font-weight: var(--font-weight-medium);
  }

  .progress > .track {
    --background: color-mix(in srgb, var(--background-500) 20%, transparent);
    --radius: calc(var(--spacing) * 0.8)
  }

  .progress > .label {
    --foreground: var(--foreground-400);
  }

  .progress > .range {
    --radius: calc(var(--spacing) * 0.8)
  }

  .progress > .track > .thumb {
    --background: var(--foreground-400);
    --radius: calc(var(--spacing) * 0.6);
  }

  .toast {
    --background: var(--background-900);
    --background-border: var(--background-600);
    --background-shadow: 0 10px 25px -5px rgb(0 0 0 / 10%);
    --foreground: var(--foreground-200);
  }

  .toast > .icon > .glyph {
    --foreground: currentColor;
  }

  .toast > .content > .title {
    --foreground: var(--foreground-100);
  }

  .toast > .content > .description {
    --foreground: var(--foreground-300);
  }

  .toast > .close {
    --background: transparent;
    --focus-visible: var(--accent-400);
    --foreground: currentColor;
  }

  .menu > :is(.content, .sub-content) {
    --background: var(--background-700);
    --background-border: var(--background-600);
    --closed-animation: slide-out-to-top 0.15s var(--ease-snappy-pop);
    --foreground: var(--foreground-300);
    --foreground-muted: var(--foreground-400);
    --open-animation: slide-in-from-top 0.15s var(--ease-snappy-pop);
    font-size: var(--text-xs);
  }

  .menu > .trigger {
    --background: transparent;
    --focus-visible: var(--accent-400);
    --foreground: var(--foreground-300);
  }

  .menu > .trigger[data-hovered="true"]:not([data-disabled="true"]) {
    --background: var(--background-800);
  }

  .menu > .trigger[data-pressed="true"]:not([data-disabled="true"]) {
    --background: var(--background-700);
  }

  .menu > :is(.content, .sub-content) [role^="menuitem"]:is(.item, .trigger) {
    --background: transparent;
    --foreground: var(--foreground-300);
    --foreground-muted: var(--foreground-400);
    --icon-foreground: var(--foreground-300);
    --indicator-foreground: var(--accent-300);

    &:is([data-highlighted="true"], [data-focused="true"], [data-open="true"]) {
      --background: color-mix(in srgb, var(--background-500) 15%, transparent);
    }
  }

  .menu > :is(.content, .sub-content) [role^="menuitem"].item[data-disabled="true"] {
    --foreground: var(--foreground-400);
    opacity: 0.5;
  }

  .menu > :is(.content, .sub-content) :is(.indicator, .label, .shortcut) {
    --foreground: var(--foreground-400);
  }

  .path > .link {
    --background: transparent;
    --disabled-opacity: 0.6;
    --focus-visible: var(--accent-400);
    --foreground: var(--foreground-300);
  }

  .path > .link[data-hovered="true"]:not([data-disabled="true"]):not([data-selected="true"]) {
    --background: color-mix(in srgb, var(--background-700) 50%, transparent);
    --foreground: var(--foreground-200);
  }

  .path > .link[data-pressed="true"]:not([data-disabled="true"]):not([data-selected="true"]) {
    --background: color-mix(in srgb, var(--background-700) 70%, transparent);
  }

  .path > .link[data-selected="true"] {
    --foreground: var(--foreground-100);
  }

  .path > .separator,
  .path > .item {
    --foreground: var(--foreground-400);
  }

  .tabs > .indicator {
    --background: color-mix(in srgb, var(--background-700) 50%, transparent);
  }
  .tabs > .indicator.underline {
    --background: var(--accent-500);
  }
  .tabs > .list.underline[data-orientation="vertical"] {
    --border: var(--background-700);
  }

  .tabs > .trigger {
    @apply text-xs font-medium;
    --background: transparent;
    --foreground: var(--foreground-300);
    --underline-border: var(--accent-500);
  }

  .tabs > .trigger[data-hovered="true"]:not([data-disabled="true"]):not([data-selected="true"]) {
    --background: var(--background-900);
    --foreground: var(--foreground-200);
  }

  .tabs > .trigger[data-pressed="true"]:not([data-disabled="true"]):not([data-selected="true"]) {
    --background: var(--background-800);
    --foreground: var(--foreground-50);
  }
  .tabs > .trigger[data-selected="true"] {
    --foreground: var(--foreground-50);
  }
  .tabs > .content {
    --focus-visible: var(--accent-400);
  }

  .anchor {
    @apply py-1.5 text-xs font-semibold;
    --focus-ring: var(--background-600);
    --foreground: var(--foreground-200);
    --underline-background: var(--background-600);
  }

  .anchor[data-hovered="true"]:not([data-disabled="true"]) {
    --underline-background: var(--foreground-400);
  }

  .modal {
    --background: var(--background-900);
    --background-border: var(--background-700);
    --focus-visible: var(--accent-400);
    --foreground: var(--foreground-300);
  }

  .modal > .panel > .header > .title {
    --foreground: var(--foreground-100);
  }

  .modal > .panel > .header > .close {
    --focus-visible: var(--accent-400);
    --foreground: var(--foreground-400);
  }

  .modal > .panel > .header > .close[data-hovered="true"]:not([data-disabled="true"]) {
    --foreground: var(--foreground-200);
  }

  .modal > .panel > .footer {
    --background: var(--background-900);
  }

  .modal > .backdrop {
    --background: rgb(0 0 0 / 50%);
  }

  .divider {
    --background: var(--background-700);
  }

  .scroll > .track {
    --background: transparent;
  }

  .scroll > .track > .thumb {
    --background: var(--background-700);
  }

  .scroll > .track > .thumb:hover {
    --background: var(--background-600);
  }

  .scroll[data-pressed="true"] > .track > .thumb {
    --background: color-mix(in srgb, var(--background-500) 40%, var(--background-900));
  }
}

@layer utilities {
  .primary {
    --background: var(--foreground-100);
    --background-border: var(--foreground-100);
    --foreground: var(--background-900);
    --icon-foreground: var(--background-700);
    border: none;
  }

  .primary:is([data-hovered="true"], [data-selected="true"]):not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--foreground-100) 90%, var(--background-600));
    --background-border: color-mix(in srgb, var(--foreground-100) 90%, var(--background-600));
  }

  .primary[data-pressed="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--foreground-100) 85%, var(--background-600));
    --background-border: color-mix(in srgb, var(--foreground-100) 85%, var(--background-600));
  }

  .secondary {
    --background: color-mix(in srgb, var(--background-900) 50%, transparent);
    --background-border: var(--background-800);
    --foreground: var(--foreground-300);
  }

  .secondary:is([data-hovered="true"], [data-selected="true"]):not([data-disabled="true"]) {
    --background: var(--background-700);
    --background-border: var(--background-700);
  }

  .secondary[data-pressed="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-700) 60%, var(--background-950));
    --background-border: var(--background-700);
  }

  .outline {
    --background: transparent;
    --background-border: var(--background-700);
    --foreground: var(--foreground-300);
    outline: unset !important;
  }

  .outline:is([data-hovered="true"], [data-selected="true"]):not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-950) 90%, var(--background-500));
  }

  .outline[data-pressed="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-900) 90%, var(--background-500));
  }

  .ghost {
    --background: transparent;
    --background-border: transparent;
    --foreground: var(--foreground-300);
  }

  .ghost:is([data-hovered="true"], [data-pressed="true"], [data-selected="true"]):not([data-disabled="true"]) {
    --background: var(--background-800);
  }

  .default {
    --background: color-mix(in srgb, var(--background-600) 10%, var(--background-900));
    --background-border: var(--background-700);
    --focus-visible: var(--accent-400);
    --foreground: var(--foreground-200);
  }

  .default:is([data-hovered="true"], [data-selected="true"]):not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-500) 20%, var(--background-900));
  }

  .default[data-pressed="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--background-500) 30%, var(--background-900));
  }

  .danger, .success, .warning, .info {
    --focus-visible: var(--accent-400);
  }

  .danger {
    --background: color-mix(in srgb, var(--danger-500) 15%, transparent);
    --background-border: transparent;
    --focus-visible: var(--danger-400);
    --foreground: var(--danger-600);
    --icon-foreground: var(--danger-700);
  }

  .danger[data-hovered="true"]:not([data-disabled="true"]),
  .danger[data-pressed="true"]:not([data-disabled="true"]) {
    --background: color-mix(in srgb, var(--danger-500) 20%, transparent);
    --background-border: transparent;
  }

  .success {
    --background: color-mix(in srgb, var(--success-600) 10%, var(--background-900));
    --background-border: color-mix(in srgb, var(--success-600) 20%, var(--background-900));
    --focus-visible: var(--success-400);
    --foreground: var(--success-600);
    --icon-foreground: var(--success-700);
  }

  .success[data-hovered="true"]:not([data-disabled="true"]),
  .success[data-pressed="true"]:not([data-disabled="true"]) {
    --background-border: var(--background-600);
  }

  .warning {
    --background: color-mix(in srgb, var(--warning-600) 10%, var(--background-900));
    --background-border: color-mix(in srgb, var(--warning-600) 20%, var(--background-900));
    --focus-visible: var(--warning-400);
    --foreground: var(--warning-600);
    --icon-foreground: var(--warning-700);
  }

  .warning[data-hovered="true"]:not([data-disabled="true"]),
  .warning[data-pressed="true"]:not([data-disabled="true"]) {
    --background-border: var(--background-600);
  }

  .info {
    --background: color-mix(in srgb, var(--info-600) 10%, var(--background-900));
    --background-border: color-mix(in srgb, var(--info-600) 20%, var(--background-900));
    --focus-visible: var(--info-400);
    --foreground: var(--info-600);
    --icon-foreground: var(--info-700);
  }

  .info[data-hovered="true"]:not([data-disabled="true"]),
  .info[data-pressed="true"]:not([data-disabled="true"]) {
    --background-border: var(--background-600);
  }

  .banner.note {
    --background: var(--background-900);
    --border: var(--background-600);
    --foreground: var(--foreground-200);
    --icon-color: currentColor;
  }

  .banner.info {
    --background: color-mix(in srgb, var(--info-600) 10%, var(--background-900));
    --border: color-mix(in srgb, var(--info-600) 20%, var(--background-900));
    --foreground: var(--foreground-200);
    --icon-color: var(--info-600);
  }

  .banner.success {
    --background: color-mix(in srgb, var(--success-600) 10%, var(--background-900));
    --border: color-mix(in srgb, var(--success-600) 20%, var(--background-900));
    --foreground: var(--foreground-200);
    --icon-color: var(--success-600);
  }

  .banner.warning {
    --background: color-mix(in srgb, var(--warning-600) 10%, var(--background-900));
    --border: color-mix(in srgb, var(--warning-600) 20%, var(--background-900));
    --foreground: var(--foreground-200);
    --icon-color: var(--warning-600);
  }

  .banner.danger {
    --background: color-mix(in srgb, var(--danger-600) 10%, var(--background-900));
    --border: color-mix(in srgb, var(--danger-600) 20%, var(--background-900));
    --foreground: var(--foreground-200);
    --icon-color: var(--danger-600);
  }

  .toast.danger {
    --background: color-mix(in srgb, var(--danger-600) 10%, var(--background-900));
    --background-border: color-mix(in srgb, var(--danger-600) 20%, var(--background-900));
  }

  .toast.success {
    --background: color-mix(in srgb, var(--success-600) 10%, var(--background-900));
    --background-border: color-mix(in srgb, var(--success-600) 20%, var(--background-900));
  }

  .toast.info {
    --background: color-mix(in srgb, var(--info-600) 10%, var(--background-900));
    --background-border: color-mix(in srgb, var(--info-600) 20%, var(--background-900));
  }

  .toast.warning {
    --background: color-mix(in srgb, var(--warning-600) 10%, var(--background-900));
    --background-border: color-mix(in srgb, var(--warning-600) 20%, var(--background-900));
  }
}
