@reference "tailwindcss";

@layer components {
  .trigger {
    display: contents;
  }

  .root {
    @apply absolute;
    pointer-events: none;
    z-index: 50;
  }

  .content {
    --frame-fill: var(--tooltip-fill);
    --frame-stroke-color: var(--tooltip-border-color);
    opacity: 0;
    transition: opacity 0.15s ease-out, transform 0.15s ease-out;
  }

  .content[data-visible="true"] {
    opacity: 1;
    pointer-events: auto;
  }

  .frame {
    @apply flex items-center gap-1.5 px-2 py-1 whitespace-nowrap;;
    color: var(--foreground);
  }

  .frame[data-hint] {
    @apply pr-1;
  }
}
