@reference "tailwindcss";

@layer components {
  .root {
    --frame-radius: var(--radius-sm, 24px);
    --frame-stroke-width: var(--border-width-base, 1px);
  }

  .shape {
    rx: var(--frame-radius);
  }

  .stroke {
    stroke-width: var(--frame-stroke-width);
    vector-effect: non-scaling-stroke;
  }

}
